<!DOCTYPE html>
<html>
<head>
	<title>Simple vue Notebook</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<div id="app">
			<h2>My Notes</h2>
			<div class="card card-body" v-if="errorText.length>0">
				<div class="alert alert-danger">
					{{errorText}}
				</div>
			</div>
			<div class="card card-body" v-if="successText.length>0">
				<div class="alert alert-success">
					{{successText}}
				</div>
			</div>
			<div class="card card-body m-2">
				<div class="row">
					<div class="col-sm-3">
						<p>Note Title </p>
						<input type="text" v-model="title" class="form-control">
					</div>
					<div class="col-sm-6">
						<p>Note Description </p>
						<textarea v-model="description"  cols="30" rows="5" class="form-control"></textarea>
					</div>
					<div class="col-sm-3">
						<button class="btn btn-success" @click='addNote' >Add Note</button>
					</div>
				</div>

			</div>
			<div class="card card-body mt-3 p-3" v-for='(note,index) in notes'>
				<p>
					<button class="btn-danger btn-sm" @click='deleteNote(index)'>X</button>
				</p>
				<h1>{{note.title}}</h1>
				<div>
					{{note.description}}
				</div>
			</div>
			
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script>
		new Vue({
			el: "#app",
			data : {

				title : "",
				description : "",
				notes : [],
				errorText : "",
				successText : "",
			},
			mounted() {
				this.notes.push(
					
					{
						'title' : 'First title',
						'description' : 'First description'
					},
					{
						'title' : 'Second title',
						'description' : 'Second description'
					}
				)
			},
			methods: {

				addNote(){
					let title = this.title;
					let description = this.description;
					if(title.length > 0 && description.length > 0){
						let singleNote = {
							'title' : title,
							'description' : description
						}
						this.notes.push(singleNote);
						this.title = "";
						this.description = "";
						this.successText = "successfully Note added";
						this.errorText = ""
					}
					else{
						this.successText = "";
						this.errorText = "Please fill the fields";
						return;
					}
				},
				deleteNote(index){
					this.notes.splice(index, 1);
					this.successText = "successfully Note Deleted";
						this.errorText = ""
				}

			},
		})
		
	</script>
</body>
</html>